@import '../../../../../assets/style/fonts.scss';

.nps__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    font-family: $font;
    font-size: 12px;
    border-radius: 50%;
    border: .5px solid #22BD8F;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 0 rgba(0,139,139, 0.8);
        animation: pulse 2s infinite;
    }

    &:active,
    &:focus {
        background-color: rgba(0,139,139, 0.8);
        color: #fff;
    }

    @keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 rgba(0,139,139, 0.8);
        }
        50% {
            box-shadow: 0 0 0 12px rgba(0,139,139, 0);
        }
        100% {
            box-shadow: 0 0 0 0 rgba(0,139,139, 0);
        }
    }
}