<div class="nps__dialog" [formGroup]="npsForm" *ngIf="!ratingSent; else thanksMsg">
  <img *ngIf="dialogData.ratingNumber > 8" src="./assets/icons/emojis/excellent.png" alt="Emoji excellent">
  <img *ngIf="dialogData.ratingNumber === 7 || dialogData.ratingNumber === 8" src="./assets/icons/emojis/good.png" alt="Emoji good">
  <img *ngIf="dialogData.ratingNumber < 7" src="./assets/icons/emojis/ok.png" alt="Emoji ok">
  <h2>Você nos deu nota {{ dialogData.ratingNumber }}!</h2>
  <h5>Dicas? Feedbacks? Ou só um comentário?</h5>
  <h5>Pode escrever aqui para a gente!</h5>
  <textarea cols="30" rows="5" formControlName="ratingComment" placeholder="Escreva seu comentário aqui"></textarea>
  <button mat-flat-button (click)="sendComment()" *ngIf="!ratingSending; else sending" color="primary">ENVIAR</button>
  <ng-template #sending>
    <mat-spinner diameter="30"></mat-spinner>
  </ng-template>
</div>
<ng-template #thanksMsg>
  <div class="nps__dialog nps__dialog__thanks">
    <h2>Muito obrigado!</h2>
    <h5>Sua opinião é muito importante para nós, de verdade!</h5>
    <h5>É a partir de comentários como o seu que nos reinventamos para melhorar cada vez mais a experiência de sair para comer!</h5>
    <button mat-flat-button (click)="closeDialog()" color="primary">FECHAR</button>
  </div>
</ng-template>